*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    list-style: none;
    
}

body{
    background-color: #f4f4f4;
}

li a{
    text-decoration: none;
    color: #000000;
    cursor: pointer;
}

a:hover{
    text-decoration: underline;
}


/* Navigation  */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 150px;
    height: 10vh;
}

.logo{
    flex: 2;
}

.logo img{
    height: 50px;
}

.list{
   flex: 1;
}

nav ul{
    display: flex;
}

nav ul li{
    padding: 0 30px;
    font-size: 15px;
    font-weight: 600;
}


/* Main section  */
main{
    display: flex;
    height: 90vh;
    justify-content: space-between;
    align-items: center;
    background-image: url(./images/stethoscope.png);
    background-size: 40% ;
    background-position:center;
    background-repeat: no-repeat;
}

/* Left main  */
.left-main{
    height: 55vh;
    width: 45%;
    margin-left: 150px;
}

.left-main h1{
    font-size: 60px;
    font-weight:bolder;
    word-spacing: 5px;
}

.left-main p{
    font-size: 15px;
    font-weight: 500;
    margin: 20px 0;
    color: #7e7e7e;
    word-spacing: 2px;
}

.left-main button{
    padding: 11px 50px;
    font-size: larger;
    font-weight: 600;
    color: #ffffff;
    background-color: #42d69d;
    border-radius: 40px;
    border: none;
}

.left-main button:hover{
    background-color: #00ff9d;
    cursor: pointer;
}

.button{
    display: flex;
    justify-content: space-between;
}

.end-img{
    position: relative;
    right: 60px;
}

.end-img img:last-child{
    position: relative;
    top: 50px;
    left: 20px;
}

/* Right main  */
.circle-container{
    height: 90vh;
    width: 50vw;
}

.green-box img{   
    position: absolute;
    width: 30%;
    bottom: 25px;
    right: 4px;
}
.yellow-box img{
    position: absolute;
    width: 26%;
    bottom: 20px;
    right: 0;
}

.doctor-img{
    position: absolute;
    height: 90%;
    right: 0;
}
