*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;

}
body{
    text-align: center;
    font-size: larger;
    margin: 10px;
}
.box1
{
    background-color: red;
    border-radius: 10px;
}
.box2{
    background-color: cyan;
    border-radius: 10px;
}
.box3{
    background-color: orange;
    border-radius: 10px;
}
.box4{
    background-color: green;
    border-radius: 10px;
}
.box5{
    background-color:aquamarine;
    border-radius: 10px;
}

@media screen and (min-width:1px) and (max-width:425px){
    .box2,.box3,.box4,.box5{
        display: none;
    }
    .box1{
        display: block;

    }
    

}

@media screen and (min-width:425px) and (max-width:768px) {
    .box1,.box3,.box4,.box5{
        display: none;
    }
    .box2{
        height: 35vh;
    }

}

@media screen and (min-width:768px) and (max-width:1024px){
    .box1,.box2,.box4,.box5{
        display: none;
    }
    .box3{
        height: 50vh;
    }
    
}

@media screen and (min-width:1024px) and (max-width:1440px){
    .box1,.box2,.box3,.box5{
        display: none;
    }
    .box4{
        height: 80vh;
    }
    
}

@media screen and (min-width:1440px){
    .box1,.box2,.box3,.box4{
        display: none;
    }
    .box5{
        height: 95vh;
    }
    
}