*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px;
  box-shadow: 0 0 10px;
  border-radius: 10px;
}

h1 {
  font-size: 40px;
  padding-bottom: 20px;
}

.container div {
  padding: 10px 60px;
}

div span {
  padding:13px ;
  margin: 0 10px;
  border: 1px solid black;
  font-size: 16px;
  font-weight: 600;

}

button {
  padding: 10px 20px;
  font-size: 20px;
  font-weight: 600;
}

button:hover {
  cursor: pointer;
}