*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-family: 'Unbounded', cursive;
    list-style: none;
}

body{
    background-image: url(./assets/bg.png);
    background-size: cover;
}

/* NAV SECTION or HEADER SECTION */

a{
    text-decoration: none;
    list-style: none;
    cursor: pointer;
    color:#ffffff;
}
a:hover{
    text-decoration: underline;
}

button{
    padding: 10px 30px;
    background-color: #ba0cc5;
    color: #ffffff;
    border: none;
    border-radius: 7px;
    font-size: small;
    font-weight: 550;
}
button:hover{
    background-color: #ffffff;
    color: #ba0cc5;
    cursor: pointer;
}

.container{
    display: flex;
    background-color:#000000;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    padding: 0 60px;
}
nav img{
    max-width: 100px;
}
nav .logo{
    flex: 1;
}
nav .list{
    flex: 6;
}
nav .nav_button{
    flex: 1;
}

nav .list ul{
    display: flex;
}

nav ul li{
    padding: 0 30px;
    font-size: smaller;
    font-weight: 500;
}

/* HERO SECTION */
.hero_section{
    width: 800px;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 53%;
    transform: translate(-50%, -50%); 
    color: #ffffff;
}

.hero_section h1{
    font-size:60px;
}   
.hero_section h1 span {
   padding-left: 25px;
}

.hero_section h4{
    font-size: x-large;
    font-weight: lighter;
    word-spacing: 5px;
    margin: 10px 0 0 25px;
}
.hero_section > .large_button{
    padding:50px 0 0 210px;

  
}
.hero_section button{
    padding: 20px 30px;
    font-size: medium;
    font-weight: bolder;

}


