*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: "Red Rose", cursive;
}

a{
    text-decoration: none;
    color: #ffc233;
}

body{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url(./assets/pexels-maxyne-barcel-10402282\ 1.png);
    width: 100%;
    height: 100vh;
    background-size:cover;
    position: relative;
    color: #ffc233;  
    justify-content: center;

    
}

button{
    margin-right: 60px;
    padding: 10px 40px;
    border: none;
    font-size: larger;
    font-weight: 700;
    color: white;
    background-color: #ef6155;
    border-radius: 1px;

}
button:hover{
    cursor: pointer;
    background-color: white;
    color: #ef6155;
}

nav{
    display: flex;
    justify-content: space-between;
    padding-top: 65px;
    
}
nav img{
    
    max-width: 200px;
    justify-items: center;
    padding-left: 60px;
    font-weight: bolder;
}
nav img:hover{
    cursor: pointer;
}
nav ul{
    display: flex;
    margin-right: 60px;
    color: #ffc233;
    
}
nav ul li{
    
    font-size: small;
    font-weight: 600;
    padding-right: 50px;
    padding-left: 10px; text-decoration-color: #ffc233;
}
nav ul li:hover{
    text-decoration: underline;
}

 

main{
    font-family: "Dela Gothic One", cursive;
    display: flex;
    flex-direction: column;
    align-items: center;
   
}
main h1{
    font-size: 100px;
    margin-top: 90px;
    margin-left: 20px;
    line-height: 100px;
    font-weight:bolder;
    
}
main h1 span {
    display: block;
    display: flex;
    justify-content: center;
}
main button{
    font-size: x-large;
    margin-top: 40px;
    margin-left: 60px;
    padding: 10px 50px;
   
}

footer{   
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
    
}
footer img{
    max-width: 170px;
    padding-right: 30px;
}






