
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-family: 'Unbounded', cursive;
}

/* nav,.top_section,.main_section,footer{
    border: 1px solid red;
} */

body{
    background-color: #151c25;
    color: #ffff;
    height: 125vh;
}

li{
    text-decoration: none;
    list-style: none;
}

a{
    text-decoration: none;
    color: #ffff;

}

/* Navigation  */
nav{    
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5vh;
    background-color: black;
    color: #ffff;
    padding: 20px;

}
nav .icon{
    flex: 9;
}
nav .list{
    flex: 2;
}
nav img{
    height: 20px;
    width: 20px;
}
nav ul{
    display: flex;
    justify-content: space-between;
    font-size: 11px;
    font-weight: 500;
    
}
nav > .list > ul > li:first-child{
    background-color:  #4e47ca;
    padding: 1px 5px;
    border-radius: 10px;
}
nav a:hover{
    text-decoration: underline;

}

/* Top Section  */
.top_section{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40vh ;

}
     /* Top Left Section  */
.top_left_section{
    display: flex;
    flex-direction: column;
    font-size: larger;
    font-weight: 100;
    word-spacing: 2px;
    margin-right: 10px;
    line-height: 3vh;

}
.top_left_section img{
    width: 25px;
    height: 25px;
}
.top_left_section h5{
    font-size: large;
    font-weight:lighter;
}
.top_left_section span{
    color: #809d45;
    font-weight: 800;
    padding:10px 0;
}
     /* Top Right Section  */
.top_right_section img{
    height: 40vh;
    width: 40vh;
}

/* Main Section */
.main_section{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 60vh;

}
.main_section_heading{
    font-size: larger;
    font-weight: bolder;
    text-decoration: 4px underline #0202ff;
    padding: 1.5vh;
}
.project_section {
    display: flex;
    gap: 20px;
    text-align: center;
    font-size: xx-small;
    font-weight: 400;

}
.project_section img{
    width: 15vw;
    height: 24vh ;

}

/* Footer section  */
footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 20vh;

}

.footer_text{
    font-size: larger;
    font-weight: bolder;
    text-decoration: 4px underline #0202ff;
    padding: 10px;
}

.footer_links ul{
    display: flex;
    margin-top: 5px;
    gap: 1.5vw;
    
}
.footer_links ul li img{
   
    height: 25px;
    width:25px;
}

@media screen and (min-width:768px) and (max-width:2160px){
    nav .icon img{
        display: none;
    }
}

@media screen and (min-width:0px) and (max-width:768px){
    .body{
        height: 800vh;
    }
    /* Navigation  */
    nav .list{
        display:none
    }

    /* Top section */
    .top_section{
        display: flex;
        flex-direction: column;
        height: 70vh;
    }
    .top_left_section img{
        display: block;
        margin: 0 auto;
    }
    .top_left_section{
        align-items: center;
        line-height: 4vh;
    }
    .top_right_section img{
        height: 40vh;
    }

    /* Main section (or) project section  */
    .main_section{
        height: 90vh;
    }
    .project_section{
        display: flex;
        flex-direction: column;
       
    }
    .project_section img{
        width: 150px;
        height: 150px;
    
    }

  .footer_links ul{
        padding: 2vh;
        gap: 2vh;

    }

}

