*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: white;
    font-family: "Poppins", sans-serif;
    justify-content: center;
    align-items: center;

}

a{
    text-decoration: none;
    color: #3c2f60;
}
a:hover{
    text-decoration: underline;
}

li{
    list-style: none;
    cursor: pointer;
}

button{
    padding: 10px 20px;
    background-color: #5955b3;
    border: 1px #5955b3;
    border-radius: 10px;
    font-size: medium;
    font-weight: 600;
    color: #ffffff;

}
button:hover{
    background-color: white;
    color: #5955b3;
    cursor: pointer;

}

/* Header */

nav, nav ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px;
    font-size: medium;
    font-weight: 500;
}
nav img{
    width: 150px;
}

.left_nav{
    width:45%;
}
.left_nav>ul>li>a{
    margin-left: 50px;
}
nav button{
    margin-right: 20px;
}

/* Hero Section */

.hero_section{
    display: flex;

}
.left_hero_section{
  width: 50%;
  padding: 20px 30px;
  text-align: justify;
  color: #3c2f60;
  margin: 0;
 
}
.left_hero_section h1{
    font-size:60px;
    font-weight: 600;
    line-height: 70px;
    
}
.left_hero_section h1 span{
    color: #5955b3;
}
.left_hero_section p{
    color:  #828282;
    font-weight: 500;
    margin: 30px 0 50px 0;

}

.right_hero_section {
   width: 50%;
}
.right_hero_section img{
    width: 95%;
}






