*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    list-style: none;
}

body{
    background-color: #f4f4f4;
}

li a{
    text-decoration: none;
    color: #000000;
    cursor: pointer;
}

a:hover{
    text-decoration: underline;
}


/* Navigation  */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 150px;
    height: 10vh;
}

.logo{
    flex: 2;
}

.logo img{
    height: 50px;
}

.list{
   flex: 1;
}

nav ul{
    display: flex;
}

nav ul li{
    padding: 0 30px;
    font-size: 15px;
    font-weight: 600;
}

/* Main section */
main{
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.up-main h1{
    font-weight: 900;
    color: #42d69d;
    padding: 10px 0;
}

.up-main p{
    font-size: 15px;
    padding: 10px 0;
    font-weight: 500;
}

.down-main{
    display: grid;
    position: relative;
    top: 40px;
    grid-template-columns: repeat(3,1fr);
    gap: 50px;
}

.card{
    padding: 15px 30px;
    display: grid;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2), 
                0 -4px 6px rgba(0, 0, 0, 0.2),
                4px 0 6px rgba(0, 0, 0, 0.2),
                -4px 0 6px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.card h2{
    color: #42d69d;
}

.card h3{
    font-size: 15px;
}